.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.Title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 25px;
}

.Row {
  margin: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}


.Container {
  margin: 10px;
}

.Input {
  width: 200px !important;
}
