$screen_width_HD: 1280px;

$svg-color-light: #5d6670;
$svg-color-dark: #a7abaf;
$bg-color-border-light: #d5d5d3;
$bg-color-border-dark: #4d535b;
$font-color-medium-light: #1b1b1b;
$font-color-medium-dark: #d9dae2;
$font-color-error: #ff3939;

:root {
  --input-eye-icon-right: 5%;
  //Mobile
  @media (hover: none) and (pointer: coarse) {
    --input-eye-icon-right: 5%;
  }
}

.Container_InputTis {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.InputContainer_InputTis {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: fit-content !important;
  margin-top: 10px;
  > svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: var(--input-eye-icon-right);
    cursor: pointer;
    fill: $svg-color-light !important;
  }

  &.Dark_InputTis {
    > svg {
      fill: $svg-color-dark !important;
    }
  }
}

.Label_InputTis {
  font-size: var(--font-size-medium);
  white-space: nowrap;
  color: $font-color-medium-light;

  &.Dark_InputTis {
    color: $font-color-medium-dark;
  }
}

.Input_InputTis {
  height: fit-content;
  width: fit-content;
  background-color: transparent !important;
  font-size: var(--font-size-x-small);
  color: $font-color-medium-light;
  outline: none;
  border: none;
  border-bottom: 1px solid $bg-color-border-light;
  display: block;
  padding-left: 5px !important;
  font-style: italic;
  @media (max-width: $screen_width_HD) {
    font-size: var(--font-size-small);
  }

  &.RoundedBorder_InputTis,
  &.RoundedBorderError_InputTis {
    border: 1px solid $bg-color-border-light !important;
    border-radius: 25px !important;
    padding: 8px !important;
    padding-left: 15px !important;
  }

  &.RoundedBorderError_InputTis {
    border-color: $font-color-error !important;
  }

  &::placeholder {
    font-style: italic;
  }

  &.Invalid_InputTis {
    border-color: $font-color-error;
  }

  &.Dark_InputTis {
    color: $font-color-medium-dark;
    border-bottom: 1px solid $bg-color-border-dark;
    &.RoundedBorder_InputTis {
      border: 1px solid $bg-color-border-dark;
    }
  }
}
